.column {
    float: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
  }
  .container-fluid{
      float:left;
      flex:50%;
    
  }

  .main:after {
    content: "";
    display: table;
    clear: both;
  }
  .main {
    display: flex;
  }
  #skills{
    transition: 1s;
  }
 
   .left p {
   position: absolute;
   z-index: 1;
   margin-top: -50%;
   width: 20vw;
   left: -5%;
   background: #fcfcfc;
   color: #202020;
   padding: 20px;
   border:2px solid black;
   border-radius: 10px;
   font-size: 1.2rem;
   font-family: 'Kurale','Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .content .yellow {
    width: 50%;
    opacity: 0;
  }
  .content .squig {
    position: absolute;
    margin-top: 32%;
    left: 19%;
    width: 8vw;
  }
  .content .right {
    display: grid;
    place-items: center;
  }
  .content .right h2 {
    color: white;
    font-size: 1.7rem;
  }
  .content .right p {
    line-height: 1.6em;
  }